body{
    background-color:#e9ecef;
    font-family:Arial,sans-serif;
    padding:20px;
}   
#task-form{
    background-color:white;
    padding:20px;
    border-radius:10px;
    max-width:400px;
    box-shadow:0 2px, 8px rgba(0,0,0,0,15);
}
label{
    display:block;
    color:darkblue;
    font-weight:bold;
}
input,textarea{
    box-sizing:border-box;
    width:100%;
    padding:8px;
    border:1px solid #ccc;
    border-radius:5px;
}
#add-btn{
    width:100%;
    padding:10px;
    background-color:blueviolet;
    color:antiquewhite;
    border-radius:5px;
    border:none;
    cursor:pointer;
}
@media(max-width:480px){
    body{ padding:10px;}
    #task-form{ padding: 15px;}
}